.Jumbotron {
background-color: lightblue;
color: darkblue;
text-align: center;
padding: 60px;
font-size: 20px;
}

nav {
background-color: aqua;
padding: 6px;
}

nav li {
list-style: none;
display: inline;
margin-right: 70px;
margin-left: 70px;
}

nav a {
font-size: 18px;
color: rgb(0, 0, 0);
font-weight: 400px;
text-decoration: none;
}

nav a:hover {
font-weight: bold;
color: blue;
}

body {
font-family: "Tahoma";
padding: 0;
margin: 0;
background-image: url("./image/Premier-League-Emblem.png");
background-attachment: fixed;
background-repeat: no-repeat;
background-position: calc(90%) bottom;
background-size: 100px;
}

h2 {
color: blue;
}

.card {
padding: 20px;
margin-top: 20px;
box-shadow: 0 4px 8px 0 black;
border-radius: 5px;
}

main {
padding: 20px;
overflow: auto;
}

#content {
width: 75%;
float: left;
}

.image {
width: 100%;
object-position: center;
object-fit: cover;
max-height: 300px;
}

aside {
width: 25%;
float: right;
padding-left: 10px;
}

.SosialMedia{
text-align: center;
}

* {
box-sizing: border-box;
}

footer{
color: darkblue;
padding: 20px;
background-color: lightblue;
text-align: center;
font-weight: bold;
}

.logo {
position: fixed;
bottom: 0;
right: 116px;
width: 100px;
height: 123px;
background: url("./Assets/Image/Logo_SMKN_3_Pariaman.png") no-repeat center/contain; 
}